<% comments = false %>

<span style="float:right"><%= link_to 'Go to Bookmarks', bookmarks_path %></span>
<h2>Welcome to my site, current time is <span id='ct' ></span> <%= Time.now.strftime("%P") %></h2>
<script type="text/javascript">display_ct();</script>
<p id="notice"><%= notice %></p>
<p>You can spam this page if you want, i can just remove them!</p>
<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Comments:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.message %></td>
    `   <td> - </td>
        <td><%= comment.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if comments == true then %>
    <%= link_to 'New Comment', new_comment_path %>
<% else %>
    <p>Comments Disabled</p>
<% end %>