<script type="text/javascript">headerchangepictures('vr');</script>

<h1>Latest Pictures</h1>

<div style="layout: block;">
<table style="float: left">
  <tbody>
    <tr>
      <% @pictures.each do |picture| %>
        <td>
          <div class="image">
            <a href=<%= picture.url %>>
              <img src=<%= picture.url %> alt=<%= picture.alt %> width="300" height="200">
            </a>
            <div class="image-desc"><%= picture.desc %></div>
          </div>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
</div>

<%= link_to 'New Picture', new_picture_path %>